<header>
  <h1>Diet Analysis App</h1>
</header>
<main>
  {{#if user}}
  <p>
    Welcome to the Diet Analysis App!
  <br>
  <br>
    Start by customizing your profile in the <a href="/profile">my profile</a> tab. These details can be changed anytime!
  <br>
  <br>
    Once you have created your profile, you will be granted access to the social page, where 
    you can find your friends or make new ones that have similar goals to you!
  <br>
  <br>
    Upload meals for free at any time and see the nutritional breakdown of your plate.
    We'll let you know if your meal aligns with your goals
  <br>
  <br>
    View your meal history, but first, <a href="/upload/meal">upload a meal!</a>
  </p>
  {{else}}
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  {{/if}}
</main>