<h1>USERNAMEs Social Page:</h1>

<h2>Following: FOLLOWING COUNT</h2>

<ul>
    <li>LIST FOLLOWERS HERE</li>
</ul>

<h2>Followers: FOLLOWERS COUNT</h2>

<ul>
    <li>LIST FOLLOWERS HERE</li>
</ul>

<p>
    Page is gonna link to followers/following users pages
    Setting this up now so I remember how im doing ts tm
</p>