div {
    max-width: 700px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif
}
  
  h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 5px;
    color: #222;
  }
  
  p {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background: #f7f7f7;
    padding: 18px 22px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border: 1px solid #e5e5e5;
  }
  
  li span {
    font-weight: 500;
  }
  
  li + p {
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: right;
    color: #333;
    font-size: 0.9rem;
  }
  
  button {
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 600;
    color: black;
    background: lightgreen;
  }

nav {
    background-color: #2c3e50;
    padding: 1rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: lightgreen;
}

nav a.active {
    border-bottom: 2px lightgreen;
    padding-bottom: 2px;
}

hr {
    border: none;
    height: 2px;
    background-color: #bdc3c7;
    margin: 0;
}



  